
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}
/* Basic CSS */
.icon-text-style {
    background: linear-gradient(45deg, #21e9f3 14%, #ff07b5 48%, #ffeb07);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    user-select: none;
    font-weight: bold;
}
.hide {
    display: none;
}
/* CSS Music Card */
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100%);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.music-card {
    position: relative;
    width: 400px;
    height:600px;
    margin: 0 auto;
    padding: 20px 30px;
    text-align: center;
    z-index: 0;
    font-size: 2.2rem;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top left;
    border-radius: 10px;
    z-index: -9;
}
.header-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-card__playlist, .header-card__favorite{
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
}
.header-card__favorite .is-favorite {
    display: none;
}
.being-favorite .not-favorite {
    display: none;
}
.being-favorite .is-favorite {
    display: inline-block;
}


.tooltip {
    position: absolute;
    bottom: 110%;
    left: -31px;
    width: max-content;
    visibility: hidden;
    background-color: #fff;
    font-size: 1.3rem;
    border-radius: 18px;
    padding: 8px 14px;
    font-weight: 600;
    transform: scale(0);
    transition: all 0.3s;
    transform-origin: bottom;
}
.tooltip::after {
    content: "";
    border-width: 6px 8px;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    right: 50px;
}
.header-card__playlist:hover .tooltip,
.header-card__favorite:hover .tooltip{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
/* CD image CSS */
.card-image {
    margin: 30px 0;
    pointer-events: none;
}
.image-cd {
    margin: auto;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px #ff4f8b;;
}
/* Song information */
.song-info .name {
    font-size: 2.8rem;
    padding: 8px 0;
}
.song-info .author {
    font-size: 1.8rem;
    padding: 8px 0;
}


/* Progress Section */
.progress-section {
    padding: 1px 0;
    margin: 20px 5px;
    cursor: pointer;
    user-select: none;
}
.progress-bar {
    height: 8px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #abb4c8;
    user-select: none;
}
.progress-bar__value {
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, rgb(65 207 208) 9%, rgb(200, 80, 192) 55%, rgb(255, 204, 112) 100%);
    height: 100%;
    border-radius: 5px;
}
.progress-bar__value::after {
    content: " ";
    position: absolute;
    right: -7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ca55bd;
    border: 2px solid #fff;
    transition: all 0.2s linear;
    visibility: hidden; 
    opacity: 0;
}
.progress-section:hover .progress-bar__value::after{
    visibility: visible;
    opacity: 1;

}
.app.player-music--hover-progress .progress-bar__value::after {
    visibility: visible;
    opacity: 1;
}

.progress-time {
    display: flex;
    margin-top: -12px;
    align-items: center;
    justify-content: space-between;
}
.progress-time__current, .progress-time__duration {
    font-size: 1.8rem;
}
/* Controls Section CSS */
.controls-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.4rem;
    margin-top: 24px;
}
.btn {
    cursor: pointer;
    padding: 5px 10px;
}
.btn-random.being-random i{
    border-bottom: 3px solid rgb(201, 30, 152);
}
.btn-play {
    font-size: 4.2rem;
}
.btn-play .btn-play-pause {
    display: none;
}
.playing .btn-play-pause {
    display: inline-block;
}
.playing .btn-play-ing {
    display: none;
}
.btn-repeat .btn-repeat-on {
    display: none;
}
.being-repeat .btn-repeat-on {
    display: inline-block;
}
.being-repeat .btn-repeat-off {
    display: none;
}
/* Volume Section */
.volume-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.volume-control {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2.4rem;
    padding-right: 10px;
}

.change-volume {
    width: 50%;
    padding: 10px 0;
    margin-left: 8px;
    cursor: pointer;
    user-select: none;
}
.change-volume__bar {
    background-color: #dadada;
    width: 100%;
    height: 6px;
    border-radius: 5px;
}
.change-volume__value {
    position: relative;
    background: linear-gradient(45deg, rgb(65 207 208) 9%, rgb(200, 80, 192) 55%, rgb(255, 204, 112) 100%);
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-width: 100%;
}
.change-volume__value::after {
    content: " ";
    position: absolute;
    right: -8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(243, 62, 136);
    border: 2px solid #fff;
    transition: all 0.2s linear;
    visibility: hidden;
    opacity: 0;
}
.volume__icon--mute {
    display: none;
    padding-left: 1.5px;
}
.volume-section.mute .volume__icon {
    display: none;
}
.volume-section.mute .volume__icon--mute {
    display: inline-block;
}

.change-volume:hover .change-volume__value::after {
    opacity: 1;
    visibility: visible;
}
.app.player-music--hover-volume .volume-change__value::after {
    visibility: visible;
    opacity: 1;
}

/* Playlist-card */
.playlist-card {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all 0.5s;
    opacity: 0;
    z-index: 1;
    transform: translateY(50%);
}
.playlist-card.playlist-open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.playlist {
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    padding: 18px 0;
    overflow: hidden;
    /* display: none; */
}
.playlist-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top right;
    border-radius: 10px;
    z-index: -1;
}
.playlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 20px;
    font-size: 2.5rem;
}
.playlist-close {
    padding: 6px 10px;
    cursor: pointer;
}
.list-songs {
    margin-top: 15px;
    list-style: none;
    overflow-y: auto;
    max-height: 480px;
}
.list-songs::-webkit-scrollbar {
    display: none;
}
.song-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    margin-bottom: 12px;
    padding: 8px 20px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
}
.song-item.active {
    background: linear-gradient(45deg, #762bce 5%, #c442bd 14%, transparent 78%, #2b66ce 100%);
}
.song-item:hover {
    cursor: pointer;
    border: 1px solid rgb(139, 10, 141);
    filter: brightness(150%);
}
.song-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}
.playlist-song-info {
    padding-left: 20px;
    width: 50%;
}
.song-name {
    font-size: 2rem;
    padding-bottom: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.song-author {
    font-size: 1.4rem;
}
.love {
    padding-left: 20px;
}
.waves-loading {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 14px;
    height: 30px;
}

.song-item.active .waves-loading span {
    width: 4px;
    height: 20%;
    background: linear-gradient(45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100%);
    border-radius: 3px;
    margin: 0 2px;
    animation: wavesSong 1.2s linear infinite;
}

.song-item.active .waves-loading span:nth-child(1) {
    animation-delay: 0s;
}
.song-item.active .waves-loading span:nth-child(2) {
    animation-delay: 0.3s;
}
.song-item.active .waves-loading span:nth-child(3) {
    animation-delay: 0.6s;
}
.song-item.active .waves-loading span:nth-child(4) {
    animation-delay: 0.9s;
}
.song-item.active .waves-loading span:nth-child(5) {
    animation-delay: 0.6s;
}
.song-item.active .waves-loading span:nth-child(6) {
    animation-delay: 0.3s;
}
.song-item.active .waves-loading span:nth-child(7) {
    animation-delay: 0s;
}
@keyframes wavesSong {
    0% {
        height: 20%;
    }
    25% {
        height: 50%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 50%;
    }

    100% {
        height: 20%;
    }
}

@media (max-width: 739px) {
    .music-card {
        width: 95%;
        -webkit-tap-highlight-color: transparent;
        height: 580px;
    }

    .header-card .tooltip {
        display: none;
    }
    .progress-bar__value::after {
        visibility: visible;
        opacity: 1;
        padding: 2px;
    }
    .volume-change__value::after {
        visibility: visible;
        opacity: 1;
        padding: 2px;
    }
    .playlist {
        width: 95%;
        -webkit-tap-highlight-color: transparent;
    }
}